#cover
    &:after
        opacity 0
    h2
        font-size: 80px;
    p
        font-size: 24px;
            
.cover
    img
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;   
    
.logo
    width 150px
    background-color: #fff
    padding: 10px
    margin-top: 150px
    & + &
        margin-left 50px
