main-color = #1471B6
important-color = #a11212

.shower.full
	background-color: #111

.slide::after
	color main-color
	background none
	height 75px
	right 20px
.slide::before
	position absolute
	top: 75px;
	right: 100px;
	height 50px
.slide
	padding-top 60px
	padding-left 60px
	h2
		color main-color

.hightlight
.important
.alert
	border-radius 0.2em
	padding 0.1em 0.3em
.hightlight
	background #fafaa2
.hightlight *
	color #000 !important
.important
	background important-color
	color #fff
.important *
	color #fff !important
.alert
	background #D10A0A
	color #fff
.alert *
	color #fff !important
.comment
	color #999999
	
.progress
	border-color main-color rgba(0, 0, 0, 0) main-color main-color
	

.tag
	color #AD1531
.attr
	color #4F7302

.slide
	p.center
		text-align center
		img
			max-width 100%

	p.quote
		text-align center
		font-style italic
		
	
blockquote
	font-size 35px	
	line-height 1.4
	
figcaption
	opacity 0.5
	position: relative
	line-height: 1.6
	margin-top: 40px !important